#header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    i{
        color: #feca57;
        font-size: 1.9em;
        margin-right: 10px;
        margin-top: -3px;
    }
    h1{
        color: #ffffff;
        font-weight: bold;
    }
}